.container {
  padding: 25px 0;
  min-height: 96px;
  width: 100%;
  background-color: var(--BLUE100);
  box-shadow: var(--SHADOW);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.select {
  //   width: 250px;
  //   height: 45px;
  margin-right: 25px;
}

.mainTitle {
  margin-right: 20px;
  white-space: nowrap;
  color: var(--TEXT400);
}

.wrapper {
  margin-right: 20px;
  display: flex;
  // flex-direction: column;
}
.titleWrapper {
  font-size: 14px !important;
  white-space: nowrap;
  color: var(--BLUE);
  font-weight: 700;
}

.titleWrapperText {
  font-size: 14px !important;
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.title {
  cursor: pointer;
  color: var(--YELLOW);
  transition: all 0.6s ease-in-out;
  &:hover {
    color: var(--GREEN);
    font-weight: 700;
  }
}
