.wrapper {
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  &.absolute {
    margin-top: 10px;
    position: absolute;
  }
}
.titleWrapper {
  display: flex;
  margin-right: 5px;
  align-items: center;
}
.link {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: var(--TEXT400);
  &.active {
    font-size: 14px;
    line-height: 20px;
    color: black;
  }
}
.icon {
  margin-left: 5px;
}
.p {
  font-weight: 700;
}

.container {
  margin-top: 20px;
}

.link {
  font-weight: 700;
  &:hover {
    color: #1976db;
  }
}
