.button {
  margin-top: 20px;
}
.containerWrapper {
  position: relative;
}

.playerWrapper {
  height: 500px;
  margin: 20px 0;
  @media (max-width: 960px) {
    height: 400px;
  }
  @media (max-width: 640px) {
    height: 300px;
  }
}
