.form {
  padding: 20px 0;
}

.button {
  width: 250px;
  margin-top: 20px;
  @media (max-width: 960px) {
    width: 100%;
  }
}

.questionWrapper {
  margin-top: 40px;
}

.input {
  margin: 15px 0;
}

.questionWrapper {
  margin: 30px 0;
}

.questionWrapper {
  display: flex;
  flex-direction: column;
}

.questionItem {
  padding: 10px;
  margin-top: 10px;
  border-radius: 13px;
  background-color: var(--YELLOW);
  box-shadow: var(--SHADOW);
  color: var(--WHITE);
  text-align: center;
}

.question_title {
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--WHITE);
}

.question_answer {
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--GREEN);
}

.question_answer_no {
  font-size: 18px;
  line-height: 150%;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--RED);
}

.title_text {
  margin: 10px 0;
}

.select {
  width: 100%;
}
